<section class="hero">
  <div>
    <h1>Cześć!</h1>
    <p>
      Nazywam się Mateusz Domurad, jestem full-stack developerem.<br />
      Na ten moment jestem otwarty na nowe wyzwania w nowym miejscu.<br />
      W trakcie poszukiwań jestem skupiony na dalszym rozwoju swoich umiejętności oraz zasiadam do swoich odłożonych w czasie projektów.
    </p>
    <div class="buttons">
      <lib-button>
        <button class="button">
          Skontaktuj się ze mną
        </button>
      </lib-button>
      <lib-button>
        <button class="button button-outline">
          Co i gdzie robiłem?
        </button>
      </lib-button>
    </div>
  </div>
  <img src="assets/image.png" alt="Mateusz Domurad" />
</section>
<section class="tech">
  <ul #techlist>
    <li *ngFor="let tech of techs">{{ tech }}</li>
  </ul>
</section>
