@import '../../../styles';

:host {
  min-height: 100vh;
  height: 100%;
}

header, main, footer {
  padding: 20px 140px;
  font: 14px $main-font;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(37, 56, 96, 0.95);
  h1 {
    margin: 0;
    font-weight: 700;
    color: $accent;
    span {
      color: #fff;
    }
  }
  div {
    display: flex;
    column-gap: 15px;
  }
}

footer {
  p {
    margin: 0;
  }
}
