/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;900&display=swap');

$main-bg: #253860;
$accent: #6ECCAF;

$main-font: 'Cairo', sans-serif;

body {
  background: $main-bg;
  margin: 0;
}
