/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

$main-bg: #2E2E2E;

$main-font: 'Source Sans Pro', sans-serif;

body {
  background: $main-bg;
}
